div.dropdown {
  border: 1px solid black;
  min-height: fit-content;
  width: 150px;
  position: relative;
}

.dropdown-btn {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
}

.dropdown-btn::before {
  content: "\25BC";
  font-size: 1em;
  margin: 5px;
}

.dropdown.expand .dropdown-btn::before {
  content: "\25B2";
  font-size: 1em;
  margin: 5px;
}

.dropdown-li-ctn {
  display: none;
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  z-index: 10;
}

.dropdown.expand .dropdown-li-ctn {
  display: block;
}
